/**** 项目公共样式 ****/
html,body,#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
}

button{
  outline:none;
}