.home-page {
  width: 100vw;
  height: 100vh;
  background: no-repeat;
  animation: bgChange 50s linear infinite;
  background-size: 100% 100%;
}

/**
 * 黑夜白天交替
 */
@keyframes bgChange {
  0% {
    background-image: url(~Assets/flappybird/bg_day.png);
  }
  50% {
    background-image: url(~Assets/flappybird/bg_night.png);
  }
  100% {
    background-image: url(~Assets/flappybird/bg_day.png);
  }
}